<% include ../partials/header %>

<div class="container">
    <h1 class="submit-header">Submit a New Sight</h1>
    <div class="submit-form">
        <form action="/sights" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="sight[name]" id="name" placeholder="Name of sight">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                    <input class="form-control" type="file" name="image" id="image" accept="image/*" required>
                </div>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" name="sight[city]" id="city" placeholder="City">
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Enter the name of the sight or an address to generate a Google Map.">
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" name="sight[description]" id="description" placeholder="Write about your sight here." rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/sights">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>